@import "tailwindcss";
@import "tw-animate-css";

 /* globals.css */

 
html {
  background-color: black;
  scroll-behavior: smooth;
}


@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-beam-move: beam-move 8s linear infinite;
  @keyframes beam-move {
  0% {
    transform: translateX(0);
    }
  100% {
    transform: translateX(100vw);
    }
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.glow-yellow {
  box-shadow: 0 0 5px #ffff00, 0 0 15px #ffff00, 0 0 30px #ffff00;

}
 


/* globals.css */
.testimonial-card {
  background-color: hsl(220, 15%, 8%);
  border: 1px solid hsl(220, 15%, 20%);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.highlight-text {
  color: #facc15; /* Tailwind's yellow-400 */
}

.highlight-pill {
  background-color: hsla(47, 96%, 53%, 0.1);
  border: 1px solid #facc15;
  color: #facc15;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}
